.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;

  &__backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
  }

  &__content {
    position: relative;
    z-index: 50;
    width: 100%;
    max-width: 28rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
      0 8px 10px -6px rgb(0 0 0 / 0.1);

    h2 {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__close {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.25rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
  }

  &__input {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #e9ecef;
  }

  &__submit {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #e9ecef;
    &:hover {
      background-color: #e9ecef;
    }
  }
}
